{% extends "templates/web.html" %}

{% block page_content %}

<h1>Your cartridges</h1>

<div class="row">
    <div class="col">
        <button id="request-refill" class="btn btn-primary">Request Refill</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-condensed" style="border-bottom: 1px solid #d1d8dd; width:100%">
            <thead>
                <th></th>
                <th>Serial No</th>
                <th>Location</th>
                <th>Status</th>
                <th>Since</th>
                <th>Tracking No</th>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        <input class="serial-check" type="checkbox" data-serial="{{ row.serial_no }}">
                    </td>
                    <td>{{ row.serial_no }}</td>
                    <td>{{ row.location }}</td>
                    <td>{{ row.status }}</td>
                    <td>{{ row.posting_date }}</td>
                    <td>
                        {% if row.tracking_link %}
                        {{ row.tracking_link }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<wizard-modal id="build-fill-request"></wizard-modal>


{% endblock %}

{% block script %}

<script>
    frappe.require("/assets/bnovate/js/web_includes/helpers.js")
    frappe.require("/assets/bnovate/js/web_includes/wizard_modal.js")
    
    function get_selected() {
        let serial_nos = [...document.querySelectorAll(".serial-check")]
        .filter(c => c.checked)
        .map(c => ({serial_no: c.dataset.serial}));
        
        return serial_nos;
    }
    
    function build_request(serial_nos) {
        data = {
            shipping_address: null,
            billing_address: null,
            items: [],
        }
        
        data.items = serial_nos.map( no => ({serial_no: no, type: "ICC"}));
        return data
    }
    
    async function post_request(data) {
        const resp = await frappe.call("bnovate.www.request.make_request", {
            data
        })
        return resp.message
    }
    
    document.querySelector("#request-refill").addEventListener("click", async () => {
        document.getElementById('build-fill-request').show(get_selected());
        // <!-- await post_request(build_request(get_selected())); -->
    });
    
</script>

{% endblock %}