{% extends "templates/web.html" %}


{% block style %}
<style>
    .card-group .card {
        flex: 0 0 33%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0rem;
        margin: 0.1%;
    }

    .card-group .card+.card {
        flex: 0 0 33%;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0rem;
        margin: 0.1%;
    }
</style>
{% endblock %}

{% block page_content %}

<h1>{{ _("My Instruments") }}</h1>

<div class="row">
    <div class="col">
        <a href="/connect" class="btn btn-primary" style="margin-bottom: 10px">{{ _("Initialize BactoLink") }}</a>
    </div>
</div>

{% for customer in customers if instruments[customer.docname] %}
<div class="container mt-4">

    {% if customers|length > 1 %}
    <h2>{{ customer.customer_name }}</h2>
    {% endif %}

    <div class="card-group">
        {% for instrument in instruments[customer.docname] %}
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="/assets/bnovate/img/bactosense.jpeg" alt="BactoSense image">

                <h5 class="card-title">
                    {% if instrument.cp %}
                    {{ instrument.cp.device_name }}
                    {% else %}
                    {{ instrument.serial_no}}
                    {% endif %}
                </h5>

                <dl class="card-text">
                    <dt>{{ _("Warranty Until") }}</dt>
                    {% if instrument.warranty_expiry_date %}
                    <dd>{{ frappe.utils.formatdate(instrument.warranty_expiry_date, 'medium') }}</dd>
                    {% else %}
                    <dd>TBC</dd>
                    {% endif %}

                    <dt>{{ _("Serial No") }}</dt>
                    <dd>{{ instrument.serial_no }}</dd>

                    <dt>{{ _("Service Agreement") }}</dt>
                    {% if instrument.sa %}
                    <dd>★☆☆ Essential</dd>
                    {% else %}
                    <dd>☆☆☆ None</dd>
                    {% endif %}

                    {% if instrument.cp.web or instrument.cp.vnc %}
                    <dt>BactoLink</dt>
                    <dd>
                        <div class="link-status" data-device-id="{{ instrument.cp.rms_id }}"></div><br>
                        {% if instrument.cp.web %}
                        <button href="#" class="btn btn-primary open-remote" data-config-id="{{ instrument.cp.web.id }}"
                            data-device-id="{{ instrument.cp.web.device_id}}" >{{ _("Web UI") }}</button>
                        {% endif %}
                        {% if instrument.cp.vnc %}
                        <button href="#" class="btn btn-primary open-remote" data-config-id="{{ instrument.cp.vnc.id }}"
                            data-device-id="{{ instrument.cp.vnc.device_id}}">{{ _("Touch UI") }}</button>
                        {% endif %}
                    </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock %}

{% block script %}
<script>
    frappe.require("/assets/js/control.min.js");
    frappe.require("/assets/js/dialog.min.js");

    frappe.require("/assets/bnovate/js/iot.js");
    frappe.require("/assets/bnovate/js/realtime.js")
    frappe.require("/assets/bnovate/js/bnovate_common.js");

    let remoteBtns = [...document.querySelectorAll(".open-remote")];

    remoteBtns.map(el => el.addEventListener("click", async (e) => {
        try {
            remoteBtns.map(btn => btn.disabled = true)
            const resp = await bnovate.realtime.call({
                method: "bnovate.www.instruments.portal_start_session",
                args: {
                    config_id: el.dataset.configId,
                    device_id: el.dataset.deviceId
                },
                callback(status) {
                    console.log(status);
                    if (status.data.progress < 100) {
                        frappe.show_progress(__("Starting session...."), status.data.progress, 100);
                    }
                }
            })
            const link = resp.message;
            if (link) {
                frappe.hide_progress();
                window.open("https://" + link, "_blank");
            }
        } finally {
            remoteBtns.map(btn => btn.disabled = false)
        }
    }));

    async function portal_get_device(device_id) {
        let resp = await frappe.call({
            method: 'bnovate.www.instruments.portal_get_device',
            args: {
                device_id
            }
        });
        return resp.message;
    }


    // Load status
    [...document.querySelectorAll(".link-status")].map(async el => {
        const device = await portal_get_device(el.dataset.deviceId);
        console.log("Device status", device)

        el.innerHTML = `
        <span class="indicator whitespace-nowrap ${device.status ? 'green' : 'red'}">${device.status ? 'Link Online' : 'Link Offline'}</span><br>
        ${device.operator} <img src="${bnovate.web.signal_icon(device.signal)}" style="max-height: 2em"> <br> ${device.connection_type}[${device.signal} dBm]
        `
    })




</script>
{% endblock %}