{% extends "templates/web.html" %}

{% block page_content %}

{% block style %}
<style>
    .card-group .card {
    flex: 0 0 33%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0rem;
    margin: 0.1%;
    }

    .card-group .card + .card {
    flex: 0 0 33%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0rem;
    margin: 0.1%;
    }
    .card-group .card:hover {
        background-color: var(--completed-background-color);
    }
</style>
{% endblock %}

<!-- {% block title %}{{ _("My Addresses") }}{% endblock %} -->
<h1>{{ _("My Addresses") }}</h1>

<div class="row">
    <div class="col">
        <button id="new-address" class="btn btn-primary" style="margin-bottom: 10px">{{ _("New Address") }}</button>
    </div>
</div>

<div class="card-group">
    {% for addr in addresses %}
    <div class="card">
        <div class="card-body">
            <div class="btn-group float-right">
              <!-- <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></button> -->
              <button type="button" class="btn btn-sm btn-danger delete-address" data-name="{{ addr.name }}"><i class="fa fa-trash"></i></button>
            </div>
            {{addr.display}}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Easier to define contents here, for translation and list of addresses -->
<template id="modal-body">
    <div class="modal" tabindex="-1" role="dialog" id="myModal" style="display:none">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _("Address Details") }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="form-container">
                        <form name="address" id="address-form" action="">
                            <div class="form-group">
                                <label for="company_name" class="control-label">{{ _("Company Name") }}</label>
                                <input type="text" class="form-control" name="company_name" access="false" id="company_name">
                            </div>
                            <div class="form-group has-error">
                                <label for="address_line1" class="control-label">{{ _("Address Line 1") }}</label>
                                <input type="text" class="form-control" name="address_line1" access="false" id="address_line1" required>
                            </div>
                            <div class="form-group">
                                <label for="address_line2" class="control-label">{{ _("Address Line 2") }}</label>
                                <input type="text" class="form-control" name="address_line2" access="false" id="address_line2">
                            </div>
                            <div class="form-group">
                                <label for="pincode" class="control-label">{{ _("Postal Code") }}</label>
                                <input type="text" class="form-control" name="pincode" access="false" id="pincode">
                            </div>
                            <div class="form-group has-error">
                                <label for="city" class="control-label">{{ _("City") }}</label>
                                <input type="text" class="form-control" name="city" access="false" id="city" required>
                            </div>
                            <div class="form-group">
                                <label for="country" class="formbuilder-select-label">{{ _("Country") }}</label>
                                <select class="form-control" name="country" id="country" required>
                                    {% for country in countries %}
                                    <option value="{{ country }}" {{ "selected" if country == "Switzerland" }} >{{ _(country) }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                    
                    <div class="modal-footer">
                        <div class="wizard-buttons">
                            <button type="button" class="btn btn-danger" id="cancel-button">{{ _("Cancel") }}</button>
                            <button type="button" class="btn btn-primary" id="save-button" disabled>{{ _("Save") }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<address-modal id="edit-address-modal"></address-modal>

{% endblock %}

{% block script %}
<script>
    frappe.require("/assets/bnovate/js/web_includes/translations.js")
    frappe.require("/assets/bnovate/js/web_includes/helpers.js")
    frappe.require("/assets/bnovate/js/web_includes/address_modal.js")

    async function save() {
        const data = new FormData(document.querySelector("#address-form"));
        const doc = Object.fromEntries(data);
        await bnovate.web.create_address(doc);
        location.reload();
    }

    function validate() {
        const frm = document.querySelector("#address-form")
        const required_inputs = [...frm.querySelectorAll("[required]")];
		let valid = true;
		for (let input of required_inputs) {
			if (!input.value) {
				input.closest(".form-group").classList.add('has-error')
				valid = false;
			} else {
				input.closest(".form-group").classList.remove('has-error')
			}
		}
		return valid;
    }

    // Bind all buttons
    document.querySelector("#new-address").addEventListener("click", () => {
        let contents = document.querySelector("#modal-body").content.cloneNode(true)
        document.getElementById("edit-address-modal").show(contents, validate, save);
    });

    [...document.querySelectorAll(".delete-address")].map(el => el.addEventListener("click", async (e) => {
        if (window.confirm(__("Delete this address?"))) {
            await bnovate.web.delete_address(el.dataset.name);
            location.reload();
        }
    }));
</script>
{% endblock %}
