{% extends "templates/web.html" %}

{% block style %}
<style>
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #666;
        background: #fff;
        color: #666;
        text-align: center;
        font: 32px Arial, sans-serif;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input:invalid {
        border: 2px solid var(--red);
    }
    .timegroup {
        display: inline-block;
        width: calc(50% - 5px);
    }

    fieldset {
        display: contents;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
    <h1>{{ _("Organize Return") }} for {{ rr_doc.name }}</h1>
{% endblock %}


{% block page_content %}


<div class="row">
    <div class="col border rounded m-1 p-4">
        <h3>{{ _("Verify information") }}</h3>
        <p><b>{{ _("Number of parcels") }}</b>: {{ parcel_count }}</p>
        <p><b>{{ _("Pickup Address") }}</b>:</p>
        <div class="border my-3 p-2 text-secondary ">{{ pickup_address_display }}</div>

        <p><i>{{ _("Contact sales@bnovate.com for any changes to the above.") }}</i></p>
    </div>

    <div class="col border rounded m-1 p-4">
        <h3>{{ _("Finish and identify parcel") }}</h3>
        <ul>
            <li>{{ _("Print the label") }}</li>
            <li>{{ _("Tape it to the parcel") }}</li>
            <li>{{ _("One label per parcel") }}</li>
        </ul>
        <p>
            <button id="print-label" class="btn btn-primary" style="margin-bottom: 10px; float:none">{{ _("Print Label") }}</button>
        </p>
    </div>

    <div class="col border rounded m-1 p-4">
        <h3>{{ _("Organize Pickup") }}</h3>

            <button id="get-capabilities" class="btn btn-primary" style="margin-bottom: 10px; float:none" 
                {% if pickup_status == SCHEDULED %} hidden {% endif %}>{{ _("Get Availability") }}</button>

            <i id="loading" class="fa fa-cog fa-spin" hidden></i>
            <form id="schedule-form" onsubmit="return false">
                {% if pickup_status == AVAILABLE %}
                            <p>I confirm the package will be available on</p>
                {% elif pickup_status == SCHEDULED %}
                            <p>Pickup is scheduled on</p>
                {% endif %}
                <fieldset id="fields" disabled>
                    <label for="pickup_date" display="hidden" hidden>Date</label>
                    <input type="date" name="pickup_date" value="{{ pickup_date }}" min="{{ pickup_date }}" required>

                    <div class="timegroup">
                        <label for="pickup_from">{{ _("Between") }}</label>
                        <input type="time" name="pickup_from" value="{{ min_time }}" min="{{ min_time }}" required>
                    </div>

                    <div class="timegroup">
                        <label for="pickup_to">{{ _("And") }}</label>
                        <input type="time" name="pickup_to" value="{{ max_time }}" min="{{ min_time }}" max="{{ max_time }}" required>
                    </div>

                    <label for="pickup_comment">{{ _("Special Instructions") }}</label>
                    <input type="text" name="pickup_comment" maxlength="75">

                    <div class="form-errors alert alert-danger" hidden>
                    </div>

                    {% if pickup_status == AVAILABLE %}
                        <input type="submit" id="schedule-pickup" class="btn btn-primary" style="margin-bottom: 10px; float:none" value="{{ _("Schedule Pickup") }}">
                    {% endif %}
                </fieldset>
            </form>
        {% if pickup_status == SCHEDULED %}
            <button id="cancel-pickup" class="btn btn-danger" style="margin-bottom: 10px; float:none">{{ _("Cancel / Re-schedule Pickup") }}</button>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    const min_date = "{{ pickup_date }}";
    const min_time = "{{ min_time }}";
    const max_time = "{{ max_time }}";

    const form = document.querySelector("#schedule-form");
    const fields = document.querySelector('fieldset');
    const pickup_date = document.querySelector('input[name="pickup_date"]')
    const pickup_from = document.querySelector('input[name="pickup_from"]')
    const pickup_to = document.querySelector('input[name="pickup_to"]')
    const pickup_comment = document.querySelector('input[name="pickup_comment"]')
    const get_capabilities = document.querySelector('#get-capabilities')
    const schedule_pickup = document.querySelector('#schedule-pickup')
    const cancel_pickup = document.querySelector('#cancel-pickup')
    const spinner = document.querySelector('#loading');

    function validate() {
        let valid = true;
        return form.checkValidity();

        // const error_div = document.querySelector(".form-errors");
        // const errors = [];
        // const data = Object.fromEntries(new FormData(form));

        // if (errors.length) {
        //     error_div.innerHTML = `
        //         <ul>
        //         ${errors.map(err => `<li>${err}</li>`).join("\n")} 
        //         </ul>
        //     `;
        //     error_div.hidden = false;
        // } else {
        //     error_div.hidden = true;
        // }

        // return valid;
    };

    document.querySelector('#print-label').addEventListener('click', () => {
        // WARNING: javascript generated by Jinja...
        bnovate.utils.print_url('{{ shipping_label_url }}');
    });

    get_capabilities?.addEventListener('click', async () => {

        spinner.hidden = false;
        get_capabilities.disabled = true;
        
        // WARNING: javascript generated by Jinja...
        let quote = null;
        try {
            quote = await bnovate.web.get_pickup_capabilities('{{ rr_doc.name }}');
        } catch (e) {
            // Frappe shows the error message in all cases
        }
        spinner.hidden = true;

        if (!quote) {
            get_capabilities.disabled = false;
            return;
        }

        // TODO: force check from today, not time in Shipment.
        // TODO: how to determine minimum pickup window?

        pickup_date.value = quote.localCutoffDateAndTime.slice(0, 10);
        pickup_date.min = quote.localCutoffDateAndTime.slice(0, 10);
        pickup_from.value = quote.pickupEarliest.slice(0, 5);
        pickup_from.min = quote.pickupEarliest.slice(0, 5);
        pickup_to.min = quote.pickupEarliest.slice(0, 5);
        pickup_to.value = quote.pickupLatest.slice(0, 5);
        pickup_to.max = quote.pickupLatest.slice(0, 5);
        fields.disabled = false;

        console.log(quote);
    });

    pickup_from.addEventListener('change', () => {
        pickup_to.min = pickup_from.value;
    })

    schedule_pickup?.addEventListener('click', async () => {
        if (!validate()) 
            return;

        schedule_pickup.disabled = true;
        spinner.hidden = false;

        try {
            // TODO: How to handle errors (declared after cutoff, too small window...)
            let resp = await bnovate.web.request_pickup('{{ rr_doc.name }}', 
                pickup_date.value,
                pickup_from.value,
                pickup_to.value,
                pickup_comment.value,
            )
            console.log(resp);
        } catch(e) {
            spinner.hidden = true;
            return;
        }

        spinner.hidden = true;
        bnovate.utils.confetti();
        setTimeout(() => location.reload(), 500);
    });

    cancel_pickup?.addEventListener('click', async () => {
        spinner.hidden = false;
        cancel_pickup.disabled = true;
        try {
            let resp = await bnovate.web.cancel_pickup('{{ rr_doc.name }}', "Customer cancelled pickup") ;
            console.log("Cancel pickup");
            console.log(resp);
        } catch (e) {
            spinner.hidden = true;
            return;
        }
        location.reload();
    })
</script>
{% endblock %}