{% extends "templates/web.html" %}

{% block style %}
<style>
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #666;
        background: #fff;
        color: #666;
        text-align: center;
        font: 32px Arial, sans-serif;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input:invalid {
        border: 2px solid var(--red);
    }
    .timegroup {
        display: inline-block;
        width: calc(50% - 5px);
    }
</style>
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
    <h1>{{ _("Organize Return") }} for {{ rr_doc.name }}</h1>
{% endblock %}


{% block page_content %}


<div class="row">
    <div class="col border rounded m-1 p-4">
        <h3>{{ _("Verify information") }}</h3>
        <p><b>{{ _("Number of parcels") }}</b>: {{ parcel_count }}</p>
        <p><b>{{ _("Pickup Address") }}</b>:</p>
        <div class="border my-3 p-2 text-secondary ">{{ pickup_address_display }}</div>

        <p><i>{{ _("Contact sales@bnovate.com for any changes to the above.") }}</i></p>
    </div>

    <div class="col border rounded m-1 p-4">
        <h3>{{ _("Finish and identify parcel") }}</h3>
        <ul>
            <li>{{ _("Print the label") }}</li>
            <li>{{ _("Tape it to the parcel") }}</li>
            <li>{{ _("One label per parcel") }}</li>
        </ul>
        <p>
            <button id="print-label" class="btn btn-primary" style="margin-bottom: 10px; float:none">{{ _("Print Label") }}</button>
        </p>
    </div>

    <div class="col border rounded m-1 p-4">
        <h3>{{ _("Organize Pickup") }}</h3>

        {% if pickup_status == AVAILABLE %}
            <form id="schedule-form" onsubmit="return false">
                <p>I confirm the package will be available on</p>
                <label for="pickup_date" display="hidden" hidden>Date</label>
                <input type="date" name="pickup_date" value="{{ today }}" min="{{ today }}">

                <div class="timegroup">
                    <label for="pickup_from">{{ _("Between") }}</label>
                    <input type="time" name="pickup_from" value="{{ min_time }}" min="{{ min_time }}">
                </div>

                <div class="timegroup">
                    <label for="pickup_to">{{ _("And") }}</label>
                    <input type="time" name="pickup_to" value="{{ max_time }}" max="{{ max_time }}">
                </div>

                <label for="pickup_comment">Special Instructions</label>
                <input type="text" name="pickup_comment" maxlength="75">

                <div class="form-errors alert alert-danger" hidden>
                </div>

                <input type="submit" id="schedule-pickup" class="btn btn-primary" style="margin-bottom: 10px; float:none" value="{{ _("Schedule Pickup") }}">
            </form>
        {% elif pickup_status == SCHEDULED %}
            <button id="cancel-pickup" class="btn btn-primary" style="margin-bottom: 10px; float:none">{{ _("Cancel / Re-schedule Pickup") }}</button>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    const min_date = "{{ today }}";
    const min_time = "{{ min_time }}";
    const max_time = "{{ max_time }}";

    function validate() {
        let valid = true;
        const form = document.querySelector("#schedule-form");
        const error_div = document.querySelector(".form-errors");

        return form.checkValidity();

        const errors = [];
        const data = Object.fromEntries(new FormData(form));

        if (errors.length) {
            error_div.innerHTML = `
                <ul>
                ${errors.map(err => `<li>${err}</li>`).join("\n")} 
                </ul>
            `;
            error_div.hidden = false;
        } else {
            error_div.hidden = true;
        }

        return valid;
    };

    document.querySelector('#print-label').addEventListener('click', () => {
        // WARNING: javascript generated by Jinja...
        bnovate.utils.print_url('{{ shipping_label_url }}');
    });

    document.querySelector('#schedule-pickup')?.addEventListener('click', () => {
        if (!validate()) 
            return;

        bnovate.utils.confetti();
    });
</script>
{% endblock %}