{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h1 class="m-0">{{ doc.name }}</h1>
{% endblock %}



{% block page_content %}

{{ doc }}

<div class="row transaction-subheading">
	<div class="col-6">
		<span class="indicator {{ doc.indicator_color or ("blue" if doc.docstatus==1 else "darkgrey") }}">
			{{ _(doc.get('indicator_title')) or _(doc.status) or _("Submitted") }}
		</span>
	</div>
	<div class="col-6 text-muted text-right small">
		{{ frappe.utils.formatdate(doc.required_date, 'medium') }}
		{% if doc.valid_till %}
		<p>
		{{ _("Valid Till") }}: {{ frappe.utils.formatdate(doc.valid_till, 'medium') }}
		</p>
		{% endif %}
	</div>
</div>

<p class="small my-3">
	{%- set party_name = doc.supplier_name if doc.doctype == 'Supplier Quotation' else doc.customer_name %}
	<b>{{ party_name }}</b>

	{% if doc.contact_display and doc.contact_display != party_name %}
		<br>
		{{ doc.contact_display }}
	{% endif %}
</p>

{% if doc._header %}
{{ doc._header }}
{% endif %}


<div class="order-container">

	<!-- items -->
	<div class="order-item-table">
		<div class="row order-items order-item-header text-muted">
			<div class="col-sm-6 col-6 h6 text-uppercase">
				{{ _("Serial No") }}
			</div>
			<div class="col-sm-6 col-xs-6 text-right h6 text-uppercase">
				{{ _("Variant") }}
			</div>
		</div>
		{% for d in doc.items %}
		<div class="row order-items">
			<div class="col-sm-6 col-6">
				{{ d.serial_no }}
			</div>
			<div class="col-sm-6 col-xs-6 text-right">
				{{ d.type }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>





{% endblock %}