{% extends "templates/web.html" %}

{% block style %}
<style>
div .row {
	padding: 20px;
}

.request-ribbon {
    --number-of-steps: 4;
    --line-width: 2px;
    --bullet-size: 2em;
}

.request-ribbon {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
}

ol.request-ribbon {
    position: relative;
    overflow: hidden;
    counter-reset: request 0;
    list-style-type: none;
}

.request-ribbon li {
    position: relative;
    float: left;
    width: calc(100% / var(--number-of-steps));
    text-align: center;
    /* color: var(--active-background-color); */
}

.request-ribbon .current {
    font-weight: bold;
}
.request-ribbon .current ~ li {
    color: var(--label-color);
}

.request-ribbon li:before {
    counter-increment: request;
    content: ""; /* counter(request); */
    display: block;
    color: var(--line-color);
    background-color: var(--completed-background-color);
    border: var(--line-width) solid var(--line-color);
    text-align: center;
    width: var(--bullet-size);
    height: var(--bullet-size);
    line-height: var(--bullet-size);
    border-radius: var(--bullet-size);
    position: relative;
    left: 50%;
    margin-bottom: calc(var(--bullet-size) / 2);
    margin-left: calc(var(--bullet-size) * -0.5);
    z-index: 1;
}

.request-ribbon .current ~ li:before {
    background-color: var(--uncompleted-background-color);
    color: var(--line-color);
    border-color: var(--line-color);
}

.request-ribbon li + li:after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--line-color);
    height: var(--line-width);
    position: absolute;
    left: -50%;
    top: calc(var(--bullet-size) / 2);
    z-index: 0;
}

.request-ribbon .current ~ li:after {
    background-color: var(--line-color);
}
</style>
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h1 class="m-0">{{ doc.name }}</h1>
{% endblock %}


{% block page_content %}

<div class="row transaction-subheading">
	<div class="col-6">
		<span class="indicator {{ doc.indicator_color or ('blue' if doc.docstatus==1 else 'darkgrey') }}">
			{{ _(doc.get('indicator_title')) or _(doc.status) or _("Submitted") }}
		</span>
	</div>
	<div class="col-6 text-muted text-right small">
		{{ frappe.utils.formatdate(doc.transaction_date, 'medium') }}
		{% if doc.valid_till %}
		<p>
		{{ _("Valid Till") }}: {{ frappe.utils.formatdate(doc.valid_till, 'medium') }}
		</p>
		{% endif %}
	</div>
</div>

{% if doc.status != "Cancelled" %}
<ol class="request-ribbon">
	<li class="request-step {% if doc.status == 'Requested' %}current{% endif %}" data-step="1">{{ _("Requested") }}</li>
	<li class="request-step {% if doc.status == 'Confirmed' %}current{% endif %}" data-step="2">{{ _("Confirmed") }}</li>
	<li class="request-step {% if doc.status == 'Shipped' %}current{% endif %}" data-step="3">{{ _("Shipped") }}</li>
</ol>
{% endif %}

<div class="row">
{% if doc.expected_ship_date %}
    <div class="col-6">
        <b>{{ _("Expected shipping date") }}:</b> {{ frappe.utils.formatdate(doc.expected_ship_date, 'medium') }}
    </div>
{% endif %}
{% if doc.tracking_no and doc.status == "Shipped" %}
    <div class="col-6">
        <b>{{ _("Tracking No") }}:</b> 
        {% if doc.carrier == "DHL" %}
            <a href="https://www.dhl.com/ch-en/home/tracking/tracking-express.html?submit=1&tracking-id={{ doc.tracking_no }}">{{ doc.tracking_no }}</a>
        {% else %}
            {{ doc.tracking_no }} {{ doc.carrier }}
        {% endif %}
    </div>
{% endif %}
</div>


<div class="row">
	<div class="col-6">
		<h5>{{ _("Shipping Address") }}</h5>
		{{ doc.shipping_address_display }}
	</div>
	<div class="col-6">
		<h5>{{ _("Billing Address") }}</h5>
		{{ doc.billing_address_display }}
	</div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-condensed" style="border-bottom: 1px solid #d1d8dd; width:100%">
            <thead>
                <th>{{ _("Serial No") }}</th>
                <th>{{ _("Variant") }}</th>
            </thead>
            <tbody>
                {% for d in doc.items %}
                <tr>
                    <td>{{ d.serial_no }}</td>
                    <td>{{ d.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}