{% extends "templates/web.html" %}

{% block style %}
<style>
div .row {
	padding: 20px;
}
</style>
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h1 class="m-0">{{ doc.name }}</h1>
{% endblock %}



{% block page_content %}

<div class="row transaction-subheading">
	<div class="col-6">
		<span class="indicator {{ doc.indicator_color or ('blue' if doc.docstatus==1 else 'darkgrey') }}">
			{{ _(doc.get('indicator_title')) or _(doc.status) or _("Submitted") }}
		</span>
	</div>
	<div class="col-6 text-muted text-right small">
		{{ frappe.utils.formatdate(doc.creation, 'medium') }}
		{% if doc.valid_till %}
		<p>
		{{ _("Valid Till") }}: {{ frappe.utils.formatdate(doc.valid_till, 'medium') }}
		</p>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-6">
		<h5>{{ _("Shipping Address") }}</h5>
		{{ doc.shipping_address_display }}
	</div>
	<div class="col-6">
		<h5>{{ _("Billing Address") }}</h5>
		{{ doc.billing_address_display }}
	</div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-condensed" style="border-bottom: 1px solid #d1d8dd; width:100%">
            <thead>
                <th>{{ _("Serial No") }}</th>
                <th>{{ _("Variant") }}</th>
            </thead>
            <tbody>
                {% for d in doc.items %}
                <tr>
                    <td>{{ d.serial_no }}</td>
                    <td>{{ d.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}