@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Libre Franklin', sans-serif;
}

:root {
  --line-color: #ffa632;
  --label-color: #575757;
  --completed-background-color: #ffecd4;
  --uncompleted-background-color: #ffffffff;

  --error-color: #ff5858;
  --danger: #f38926;
}

.modal-header {
    background-color: var(--completed-background-color);
}


/* Forms */
.has-error .control-label {
  color: var(--error-color);
}

.has-error .form-control {
  border-color: var(--error-color);
}

/* Buttons */

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
}