@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Libre Franklin', sans-serif;
}

:root {
  --line-color: #ffa632;
  --label-color: #575757;
  --completed-background-color: #ffecd4;
  --uncompleted-background-color: #ffffffff;

  --error-color: #ff5858;
  --danger: #f38926;
}

.modal-header {
    background-color: var(--completed-background-color);
    display: block; /* Override flex setting, allow buttons to move to right */
}

.modal-title {
  margin-top: 5px;
}

.modal-dialog {
  max-width: 800px;
}


/* Forms */
.has-error .control-label {
  color: var(--error-color);
}

.has-error .form-control {
  border-color: var(--error-color);
}

/* Buttons */

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
}

/* flex copied from Frappe, needed for modals. */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-flex-start {
  justify-content: flex-start;
}

.flex-wrap {
flex-wrap: wrap;
}

.flush-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.level {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-left, .level-right {
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;

  &.is-flexible {
      flex-grow: initial;
      flex-shrink: initial;
  }
}

.level-left {
  justify-content: flex-start;
}

.level-right {
  justify-content: flex-end;
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.fill-width {
  flex: 1;
}


/* Bootstrap styles copied from Frappe, needed for modal styling */

.hide {
  display: none !important;
}


/* Wizard styling */

/* Style needs to be defined outside of shadow DOM. */
.wizard-ribbon {
  --number-of-steps: 4;
  --line-width: 2px;
  --bullet-size: 2em;
}

.wizard-ribbon {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 1rem;
}

ol.wizard-ribbon {
  position: relative;
  overflow: hidden;
  counter-reset: wizard 0;
  list-style-type: none;
}

.wizard-ribbon li {
  position: relative;
  float: left;
  width: calc(100% / var(--number-of-steps));
  text-align: center;
  /* color: var(--active-background-color); */
}

.wizard-ribbon .current {
  font-weight: bold;
}
.wizard-ribbon .current ~ li {
  color: var(--label-color);
}

.wizard-ribbon li:before {
  counter-increment: wizard;
  content: ""; /* counter(wizard); */
  display: block;
  color: var(--line-color);
  background-color: var(--completed-background-color);
  border: var(--line-width) solid var(--line-color);
  text-align: center;
  width: var(--bullet-size);
  height: var(--bullet-size);
  line-height: var(--bullet-size);
  border-radius: var(--bullet-size);
  position: relative;
  left: 50%;
  margin-bottom: calc(var(--bullet-size) / 2);
  margin-left: calc(var(--bullet-size) * -0.5);
  z-index: 1;
}

.wizard-ribbon .current ~ li:before {
  background-color: var(--uncompleted-background-color);
  color: var(--line-color);
  border-color: var(--line-color);
}

.wizard-ribbon li + li:after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--line-color);
  height: var(--line-width);
  position: absolute;
  left: -50%;
  top: calc(var(--bullet-size) / 2);
  z-index: 0;
}

.wizard-ribbon .current ~ li:after {
  background-color: var(--line-color);
}

.wizard-page textarea {
  width: 100%;
}

.wizard-page label:hover,
.wizard-page label:focus-within {
background-color: #e9ecef;
}

.wizard-page .card-group > .card {
  flex: 0 0 33%;
}

.wizard-page .card-body {
position: relative;
padding: 0px;
}

.wizard-page .card-body label {
  margin: 0;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
}

.wizard-page input[type="radio"] {
position: absolute;
appearance: none;
}

.wizard-page input[type="radio"]:checked ~ label {
background-color: var(--completed-background-color);
}

.wizard-summary .row {
  padding: 20px;
}

.wizard-summary h5 {
  margin-bottom: 15px;
}

.wizard-summary .card-body {
  padding: 10px 20px;
}