<div>

    {% if ste_docs.length %}
    <div class="bn-row">
        <h3>Existing Stock Entries</h3>
        <table class="table table-condensed no-margin" style="border-bottom: 1px solid #d1d8dd">
            <thead>
                <tr>
                    <th style="width: 15%;" class="" >
                        Status
                    </th>
                    <th style="width: 20%;" class="" >
                        Stock Entry
                    </th>
                    <th style="width: 10%;" class="text-right" >
                        Qty
                    </th>
                    {% if produce_serial_no %}
                    <th style="width: 35%;" class="" >
                        Serial No
                    </th>
                    {% endif %}
                    {% if produce_batch %}
                    <th style="width: 35%;" class="" >
                        Batch
                    </th>
                    {% endif %}
                    <th>
                        <!-- Buttons go in this col... -->
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ste in ste_docs %}
                <tr>
                    <td>
                        <span class="indicator whitespace-nowrap {{ ste.indicator_color }}"><span>{{ ste.indicator_label }}</span></span>
                    </td>
                    <td>
                        <a href="{{ ste.link }}">{{ ste.name }}</a>
                    </td>
                    <td class="text-right">
                        {{ ste.fg_completed_qty }}
                    </td>
                    {% if produce_serial_no %}
                    <td>
                        {{ ste.produced_serial_nos }}
                    </td>
                    {% endif %}
                    {% if produce_batch %}
                    <td>
                        {{ ste.produced_batch }}
                    </td>
                    {% endif %}
                    <td>
                        {% if ste.docstatus == 0 %}
                        <button class="btn btn-xs btn-danger submit-ste" data-docname="{{ ste.name }}">Submit</button> 
                        {% endif %}

                        <!-- Else if seems not to be supported by frappe microtemplating -->
                        {% if ste.docstatus == 1 %}
                        <button class="btn btn-xs btn-primary print-wo-label" data-docname="{{ ste.name }}"><i class="fa fa-print"></i> Big Label</button>
                        <button class="btn btn-xs btn-primary print-pouch-label" data-docname="{{ ste.name }}"><i class="fa fa-print"></i> Small Label</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <div class="bn-row">
        <h3>Required Items</h3>
        <table class="table table-condensed no-margin" style="border-bottom: 1px solid #d1d8dd">
            <thead>
                <tr>
                    <th style="width: 5%" class="table-sr">Sr</th>

                    <th style="width: 20%;" class="" >
                        Item Code
                    </th>
                    <th style="width: 35%;" class="" >
                        Item Name
                    </th>
                    <th style="width: 20%;" class="text-right" >
                        Required Qty
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for item in doc.required_items %}
                <tr>
                    <td class="table-sr">{{ item.idx }}</td>
                    <td class="" >
                        <div class="value">
                            {{ item.item_code }}
                        </div>
                    </td>
                    <td class="" >
                        <div class="value">
                            <strong>{{ item.item_name }}</strong>
                        </div>
                    </td>
                    <td class="text-right" >
                        <div class="value">
                            {{ item.required_qty }}
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    
</div>