<style>
    .bn_row {
        display: flex;
        flex-wrap: wrap;
    }

    .medaillon {
        flex: 0 0 200px;
    }

    .bn_col {
        flex: 0 1 400px;
        padding: 0 20px;
    }

    .details {
        margin: 0;
    }

    .comment {
        background-color: #f7cd72; 
        padding: 10px; 
        border-radius: 10px;
    }
</style>

<main>
    <div class="bn_row">
        <img class="medaillon" src="{{ doc.image }}" />
        <div class="bn_col">

            <table class="table details">
                <tbody>
                    <tr>
                        <th>Item to Manufacture</th>
                        <td>{{ doc.production_item }}</td>
                    </tr>
                    <tr>
                        <th>Item Name</th>
                        <td>{{ doc.item_name }}</td>
                    </tr>
                    <tr>
                        <th>Quantity Produced</th>
                        <td>{{ doc.produced_qty}} / {{ doc.qty }}</td>
                    </tr>
                    <tr>
                        <th>BOM no</th>
                        <td>{{ doc.bom_no }}</td>
                    </tr>
                    <!-- <tr>
                        <th>Planned start date</th>
                        <td>{{ doc.planned_start_date }}</td>
                    </tr> -->
                    <tr>
                        <th>Expected delivery date</th>
                        <td>{{ doc.expected_delivery_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if doc.comment %}
        <div class="bn_col comment">
            {{ doc.comment }}
        </div>
        {% endif %}


        <div class="bn_col">
            <ul>
                {% for attachment in attachments %}
                <li><a href="{{ attachment.file_url }}">{{ attachment.file_name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="bn_row">
        <h2>Required Items</h2>
        <table class="table table-condensed" style="border-bottom: 1px solid #d1d8dd">
            <thead>
                <tr>
                    <th style="width: 5%" class="table-sr">Sr</th>

                    <th style="width: 20%;" class="" data-fieldname="items" data-fieldtype="Table">
                        Item Code
                    </th>
                    <th style="width: 35%;" class="" data-fieldname="items" data-fieldtype="Table">
                        Item Name
                    </th>
                    <th style="width: 20%;" class="text-right" data-fieldname="items" data-fieldtype="Table">
                        Required Qty
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for item in doc.required_items %}
                <tr>
                    <td class="table-sr">{{ item.idx }}</td>
                    <td class="" data-fieldname="items" data-fieldtype="Table">
                        <div class="value">
                            {{ item.item_code }}
                        </div>
                    </td>
                    <td class="" data-fieldname="items" data-fieldtype="Table">
                        <div class="value">
                            <strong>{{ item.item_name }}</strong>
                        </div>
                    </td>
                    <td class="text-right" data-fieldname="items" data-fieldtype="Table">
                        <div class="value">
                            {{ item.required_qty }}
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    
</main>