<style>
    .bn_row {
        display: flex;
        flex-wrap: wrap;
    }

    .medaillon {
        flex: 0 0 200px;
    }

    .bn_col {
        flex: 0 1 400px;
        padding: 0 20px;
    }

    .details {
        margin: 0;
    }

    .comment {
        background-color: #f7cd72; 
        padding: 10px; 
        border-radius: 10px;
    }
</style>

<div>
    <div class="bn_row">
        <img class="medaillon" src="{{ doc.image }}" />
        <div class="bn_col">

            <table class="table details">
                <tbody>
                    <tr>
                        <th>Item to Manufacture</th>
                        <td>{{ doc.production_item }}</td>
                    </tr>
                    <tr>
                        <th>Item Name</th>
                        <td>{{ doc.item_name }}</td>
                    </tr>
                    <tr>
                        <th>Quantity Produced</th>
                        <td>{{ doc.produced_qty}} / {{ doc.qty }}</td>
                    </tr>
                    <tr>
                        <th>BOM no</th>
                        <td>{{ doc.bom_no }}</td>
                    </tr>
                    <!-- <tr>
                        <th>Planned start date</th>
                        <td>{{ doc.planned_start_date }}</td>
                    </tr> -->
                    <tr>
                        <th>Expected delivery date</th>
                        <td>{{ doc.expected_delivery_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if doc.comment %}
        <div class="bn_col comment">
            {{ doc.comment }}
        </div>
        {% endif %}


        <div class="bn_col">
            <ul>
                {% for attachment in attachments %}
                <li><a href="{{ attachment.file_url }}" target="_blank">{{ attachment.file_name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    
</div>